<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>EmpServlet</display-name>
    <servlet-name>EmpServlet</servlet-name>
    <servlet-class>la.servlet.EmpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpServlet</servlet-name>
    <url-pattern>/EmpServlet</url-pattern>
  </servlet-mapping>
  <display-name>dao-project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>AddCartServlet2</servlet-name>
    <servlet-class>la.servlet.AddCartServlet2</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ItemServlet</servlet-name>
    <servlet-class>la.servlet.ItemServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddCartServlet</servlet-name>
    <servlet-class>la.servlet.AddCartServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>la.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ItemServlet2</servlet-name>
    <servlet-class>la.servlet.ItemServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCartServlet2</servlet-name>
    <url-pattern>/AddCartServlet2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ItemServlet</servlet-name>
    <url-pattern>/ItemServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddCartServlet</servlet-name>
    <url-pattern>/AddCartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ItemServlet2</servlet-name>
    <url-pattern>/ItemServlet2</url-pattern>
  </servlet-mapping>
</web-app>